<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="myNav">
			<nav>
				<ul>
					<li> <a th:href="@{/}">home</a></li>
					<li> <a th:href="@{/about}">about</a></li>
					<li> <a th:href="@{/contact}">contact</a></li>
					<li> <a th:href="@{/prod}">prod</a></li>
					
				</ul>
			</nav>
	</div>
	
	<div th:fragment="welcome(name)">
		<p>
			hello, <span th:text="${name}"></span>
		</p>
	</div>
	
	<div th:fragment="foot">
		<h1>Footer....</h1>
	 </div>
</body>
</html>