<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="~{Base::myNav}"></div>
<h1>Welcome</h1>

<!-- 
  <p th:text = "${msg}"></p> 
 -->
<!--  <div th:object="${emp}"> 
 <p th:text="${emp.name}"></p>
 <p th:text="${emp.role}"></p>
 <p th:text="${emp.email}"></p>
 <p th:text="${emp.mob}"></p>
 </div> -->
<a th:href="@{/register1}">stop</a>
<!--  
 <div th:object="${emp}"> 
 <p th:text="*{name}"></p>
 <p th:text="*{role}"></p>
 <p th:text="*{email}"></p>
 <p th:text="*{mob}"></p> 
 </div>
 <table>
 	<tr> 
 		<th>name</th>
 		<th>email</th>
 		<th>roll</th>
 		<th>mob</th>
 	</tr>
 	<tr th:each="e:${employees}">
 		<td th:text="${e.name}"></td>
 		<td th:text="${e.email}"></td>
 		<td th:text="${e.mob}"></td>
 		<td th:text="${e.role}"></td>
 	</tr>
 </table>
 <hr>
 <table>
 	<tr> 
 		<th>name</th>
 		<th>email</th>
 		<th>mob</th>
 		<th>roll</th>
 	</tr>
 	<tr th:each="e, s:${employees}">
 		<td th:text="${s.index}+'   '+ ${e.name}"></td>
 		<td th:text="${e.email}"></td>
 		<td th:text="${e.mob}"></td>
 		<td th:text="${e.role}"></td>
 	</tr>
 </table>
  <hr>
 <table>
 	<tr> 
 		<th>name</th>
 		<th>email</th>
 		<th>mob</th>
 		<th>roll</th>
 	</tr>
 	<tr th:each="e, s:${employees}">
 		<td th:text="${s.Count}+'   '+ ${e.name}"></td>
 		<td th:text="${e.email}"></td>
 		<td th:text="${e.mob}"></td>
 		<td th:text="${e.role}"></td>
 	</tr>
 </table>
 -->
 	<table>
 	<tr> 
 		<th>S.No</th>
 		<th>name</th>
 		<th>email</th>
 		<th>mob</th>
 		<th>roll</th>
 		<th>View</th>
 		<th>Action</th>
 	</tr>
 	<tr th:each="e, s:${employees}">
 		<td th:text="${s.Count}"></td>
 		<td th:style="${e.role=='Backend Developer' ? 'color:red' : 'color:green'}"  th:text=" ${e.name}"></td>
 		<td th:text="${e.email}"></td>
 		<td th:text="${e.mob}"></td>
 		<td th:text="${e.role}"></td>
 		<td><button>View</button></td>
 		 <!-- th:if="${e.role}=='Backend Developer'" --><td><button>Delete</button></td>
 	</tr>
 </table>
 	<div th:switch="${emp.role}">
 		<p th:case="'admin'">Admin Dashboad</p>
 		<p th:case="*">Guest Dashboad</p>
 	</div>
 	<div th:replace="~{Base::foot}"></div>
</body>
</html>