<!DOCTYPE html>
<html       
 xmlns:th="http://www.thymeleaf.org" 
 th:replace="~{baseui::mybaseLayout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>
		<h1>Welcome View All</h1>
		
		<div >
		<div class="container mt-4">

    <div class="row">
        <div class="col-md-6 offset-3">
        	
			<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">email</th>
     
      <th scope="col">pan</th>
      <th scope="col">address</th>
      <th scope="col">aadhar</th>
      <th scope="col">action</th>

   </tr>
  </thead>
  <tbody>
    <tr th:each="u:${userpage.content}">

     
      <td th:text="${u.name}">Mark</td>
      <td th:text="${u.email}">Otto</td>
    
      <td th:text="${u.pan}">@mdo</td>
      <td th:text="${u.address}">@mdo</td>
      <td th:text="${u.aadhar}">@mdo</td>
<!--  query parameter approach    <td><a class="btn btn-warning"  th:href="@{/editUser(id=${u.id})}">edit</a> --> 
  <!-- 2nd approach   <td><a class="btn btn-warning"  th:href="@{|/editUser?id=${u.id}|}">edit</a> -->
<!-- 3rd approach  <td><a class="btn btn-warning"  th:href="@{'/editUser?id='+${u.id}|}">edit</a> --> 
<!--  path varible  -->
 <!-- <td> <a class="btn btn-warning"  th:href="@{/editUser/{id}(id=${u.id})|}">edit</a> --> 
<!--  <td> <a class="btn btn-warning"  th:href="@{|/editUser/${u.id}|}">edit</a>  -->
 <td> <a class="btn btn-warning"  th:href="@{'/editUser/' + ${u.id}}">edit</a>
     
      <a   class="btn btn-danger" th:href="@{'/delete/' + ${u.id}}">Delete</a>
      </td>
     
    </tr>
   
  </tbody>
</table>
<nav>
    <ul class="pagination">

        <li class="page-item"
            th:classappend="${userpage.first} ? 'disabled'">

            <a class="page-link"
               th:href="@{'/Alluser?pageNo=' + ${currentpage-1}}">
                Previous
            </a>

        </li>

        <li class="page-item"
            th:each="i : ${#numbers.sequence(0,userpage.totalPages-1)}"
            th:classappend="${i==currentpage} ? 'active'">

            <a class="page-link"
               th:text="${i+1}"
               th:href="@{'/Alluser?pageNo=' + ${i}}">
            </a>

        </li>

        <li class="page-item"
            th:classappend="${userpage.last} ? 'disabled'">

            <a class="page-link"
               th:href="@{'/Alluser?pageNo=' + ${currentpage+1}}">
                Next
            </a>

        </li>

    </ul>
</nav>

        </div>
        </div>
       </div>
				</div>

</section>

</body>
</html>